/* Applies to all elements */
* {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(250, 24%, 19%);
    color: #ccc;
/*    color: #fff;*/
    scrollbar-width: none; /*firefox support */    
}

/* Applies to all form elements */
form {
    padding: 5px;
    margin: 5px;
}

.action {
    border-color: #ccc;
    border-radius: 10px;
}

table, th, td {
  border: 1px solid #ccc;
}
td {
    text-align: center;
}
