<!DOCTYPE HTML>
<html>
<head>

    <title>DougDoug Chat God App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <!-- Note: we are getting a local script,  -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-textfill@0.6.0/source/jquery.textfill.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io();

            function create_td(child) {
                return $('<td>').append(child)
            }
            function create_pick_random() {
                return $(`
                    <form>
                        <input type="submit" value="Pick Random" class="action">
                    </form>
                `)
            }
            function create_tts() {
                return $(`
                    <form>
                        <input type="checkbox" class="tts" value="tts" name="tts" checked>
                    </form>
                `)
            }
            function create_choose_current() {
                return $(`
                    <form class="choose-box">
                        <input type="text" class="choose">
                    </form>
                `)
            }
            function create_message() {
                return $(`
                    <span class="message"></span>
                `)
            }
            function create_voice_name() {
                return $(`
                    <select>
                      <option value="en-US-DavisNeural">Davis</option>
                      <option value="en-US-TonyNeural">Tony</option>
                      <option value="en-US-JasonNeural">Jason</option>
                      <option value="en-US-GuyNeural">Guy</option>
                      <option value="en-US-JaneNeural">Jane</option>
                      <option value="en-US-NancyNeural">Nancy</option>
                      <option value="en-US-JennyNeural">Jenny</option>
                      <option value="en-US-AriaNeural">Aria</option>
                    </select>
                `)
            }
            function create_voice_style() {
                return $(`
                    <select>
                      <option value="random">random</option>
                      <option value="angry">angry</option>
                      <option value="cheerful">cheerful</option>
                      <option value="excited">excited</option>
                      <option value="hopeful">hopeful</option>
                      <option value="sad">sad</option>
                      <option value="shouting">shouting</option>
                      <option value="terrified">terrified</option>
                      <option value="unfriendly">unfriendly</option>
                      <option value="whispering">whispering</option>
                    </select>
                `)
            }
            function add_user_form(user_number) {
                const keypassphrase = '!player' + user_number;
                socket.emit('adduser', {
                    'user_number': user_number,
                    'current': null,
                    'tts_enabled': true,
                    'keypassphrase': keypassphrase,
                    'voice_name': 'Davis',
                    'voice_style': 'cheerful'
                });
                const pick_random = create_pick_random();
                pick_random.on('submit', function(event) {
                    event.preventDefault();
                    socket.emit('pickrandom', {'user_number': user_number});
                    return false;
                });
                const tts = create_tts();
                tts.on('change', function(event) {
                    event.preventDefault();
                    socket.emit('tts',
                        {
                            'user_number': user_number,
                            'checked': $(this).find('.tts').prop('checked')
                        }
                    );
                    return false;
                });
                const choose_current = create_choose_current();
                choose_current.on('submit', function(event) {
                    event.preventDefault();
                    console.log(event)
                    const user = $(this).find('.choose');
                    socket.emit('choose',
                        {
                            'user_number': user_number,
                            'chosen_user': user.val()
                        });
                    return false;
                });
                const voice_name = create_voice_name();
                voice_name.on('change', function(event) {
                    event.preventDefault();
                    socket.emit('voicename', {
                        'user_number': user_number,
                        'voice_name': $(this).val()
                    })
                    return false;
                });
                const voice_style = create_voice_style();
                voice_style.on('change', function(event) {
                    event.preventDefault();
                    console.log($(this).val());
                    socket.emit('voicestyle', {
                        'user_number': user_number,
                        'voice_style': $(this).val()
                    })
                    return false;
                });
                $('#users').append(
                    $('<tr/>', {id: 'user_'+user_number, class: 'user-box'})
                        .append(create_td(keypassphrase))
                        .append(create_td(pick_random))
                        .append(create_td(tts))
                        .append(create_td(choose_current))
                        .append(create_td(voice_name))
                        .append(create_td(voice_style))
                        .append(create_td(create_message()))
                );
            }

            socket.on('message_send', function(msg, cb) {
                const user_div = $('#user_'+ msg.user_number);
                user_div.find('.choose').val(msg.current_user);
                user_div.find('.message').text(msg.message);
                if (cb) cb();
            });

            var user_count = 0
            $('form#adduser').submit(function(event) {
                event.preventDefault();
                user_count += 1;
                add_user_form(user_count);
                return false;
            });
        });
    </script>
</head>
<body>
    <h1 style="margin-bottom: 10px;">Admin Selector</h1>
    <div style="display:flex; flex-direction:column;">
        <div>
            <form id="adduser" method="POST" action="#" >
                <input type="submit" value="Add User" id="add-user-input" style="border-color: #ccc; border-radius: 10px;">
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Keypassphrase</th>
                    <th>Actions</th>
                    <th>TTS</th>
                    <th>Current User</th>
                    <th>Voice Name</th>
                    <th>Voice Style</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="users">
            </tbody>
        </table>
    </div>
</body>
</html>
